body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

body * {
    font-family: 'Roboto', "Arial", sans-serif;
}

header {
    background-color: #e74c3c;
    padding: 10px;
}

header a {
    text-decoration: none;
}

form {
    display: flex;
    width: 100%
}

form > * {
    margin: 10px 0 10px 0;
    padding: 10px;

    background: none;
    border: none;
    border-bottom: 1px solid #fff;

    color: white;
    font-size: 20px;
    height: 100%;
}

form a {
    border-right: 1px solid #fff;
}

form input {
    flex-grow: 1;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

form button {
    border-left: 1px solid #fff;
}

.submit {
    cursor: pointer;
    position: relative;
}

.submit:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    bottom: 0;
    background : #fff;
    opacity: 0.3;
    transition: all .3s;
}

.submit:hover:before {
    width: 100%;
}

form button:before {
    left: 0;
}

form a:before {
    right: 0;
}

#form_section {
    margin: 0 auto;
}

section {
    margin: 0px auto;
}

section article > * {
    margin: 15px 0 0 0;
}

.info {
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    padding: 15px;
    background-color: white;
}

.info.column {
flex-direction: column;
}

.info.row {
    flex-direction: row;
}

.info * {
    margin: 0;
    vertical-align: middle;
}

.info .share {
    flex: 1;
}

.info #header {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.info #header #titles {
    flex: 1;
}

.info #channel_title:before {
    content: "by ";
}
.info #view_count {
    margin-right: 5px;
}

footer {
    text-align: center;
    margin: 15px;
}

@media (min-width: 800px) {
    section {
        width: 720px;
    }
    #form_section {
        width: 720px;
    }
}

@media (min-width: 1024px) {
    section {
        width: 960px;
    }
    #form_section {
        width: 960px;
    }
}

@media (min-width: 1280px) {
    section {
        width: 1024px;
    }
    #form_section {
        width: 1024px;
    }
}

@media (min-width: 1440px) {
    section {
        width: 1280px;
    }
    #form_section {
        width: 1280px;
    }
}

@media (min-width: 1600px) {
    section {
        width: 1440px;
    }
    #form_section {
        width: 1440px;
    }
}
