body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #e74c3c;
    padding: 10px;
}

header a {
    text-decoration: none;
}

form {
    display: flex;
    width: 100%
}

form > * {
    margin: 10px 0 10px 0;
    padding: 10px;

    background: none;
    border: none;
    border-bottom: 1px solid #fff;

    color: white;
    font-size: 20px;
    height: 100%;
}

form a {
    border-right: 1px solid #fff;
}

form input {
    flex-grow: 1;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

form button {
    border-left: 1px solid #fff;
}

.submit {
    cursor: pointer;
    position: relative;
}

.submit:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    bottom: 0;
    background : #fff;
    opacity: 0.3;
    transition: all .3s;
}

.submit:hover:before {
    width: 100%;
}

form button:before {
    left: 0;
}

form a:before {
    right: 0;
}

#form_section {
    margin: 0 auto;
}

section {
    margin: 15px auto;
}

@media (min-width: 800px) {
    section {
        width: 640px;
    }
    #form_section {
        width: 640px;
    }
}

@media (min-width: 1024px) {
    section {
        width: 960px;
    }
    #form_section {
        width: 960px;
    }
}

@media (min-width: 1280px) {
    section {
        width: 1024px;
    }
    #form_section {
        width: 1024px;
    }
}

@media (min-width: 1440px) {
    section {
        width: 1280px;
    }
    #form_section {
        width: 1280px;
    }
}

@media (min-width: 1600px) {
    section {
        width: 1440px;
    }
    #form_section {
        width: 1440px;
    }
}
